:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Arial', sans-serif;
    --font-size: 16px;

    --header-height: 28px;
    --header-padding: 20px;

    --footer-padding: 20px;

    --mainBackground: #bdbdbd;
    --mainBackgroundLighter: #e4e4e4;
    --mainText: #4b4b4b;
}
@media (prefers-color-scheme: dark) {
    :root {
        --mainBackground: #1a1a1a;
        --mainBackgroundLighter: #2b2b2b;
        --mainText: #f0f0f0;
    }
}
body {
    font-family: var(--font-family);
    background-color: var(--mainBackground);
    color: var(--mainText);
    margin: 0;
    padding: 0;
}
main {
    padding: 20px;
    display: flex;
    margin-top: calc(var(--header-height) + var(--header-padding) * 2);
}